In [584]:
import numpy as np
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn import preprocessing

In [516]:
df = pd.read_csv('kc_house_data.csv')

# EDA

In [517]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [518]:
df.info()
#all columns are integer or float.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null int64
date             21613 non-null object
price            21613 non-null float64
bedrooms         21613 non-null int64
bathrooms        21613 non-null float64
sqft_living      21613 non-null int64
sqft_lot         21613 non-null int64
floors           21613 non-null float64
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
zipcode          21613 non-null int64
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null int64
sqft_lot15       21613 non-null int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [519]:
df = df.drop(['id','date', 'lat', 'long'] , axis=1)
# droping id, date, latitude and longitude columns.

In [520]:
df.isna().sum().any()
# checking if there is any column having null value ..

False

In [521]:
df.loc[:,['sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement', 'sqft_living15', 'sqft_lot15' ]].head()

   sqft_living  sqft_lot  sqft_above  sqft_basement  sqft_living15  sqft_lot15
0         1180      5650        1180              0           1340        5650
1         2570      7242        2170            400           1690        7639
2          770     10000         770              0           2720        8062
3         1960      5000        1050            910           1360        5000
4         1680      8080        1680              0           1800        7503

In [522]:
df.loc[:,['yr_built', 'yr_renovated']].head()

   yr_built  yr_renovated
0      1955             0
1      1951          1991
2      1933             0
3      1965             0
4      1987             0

In [523]:
df.yr_renovated = df.yr_renovated.replace(0, -1)
# need to scale this feature.. so all zeros will be -1 and all positive numbers will be scaled to 0 to 1

In [524]:
print(df.zipcode.nunique())
df.loc[:,['zipcode']].head()

70

   zipcode
0    98178
1    98125
2    98028
3    98136
4    98074

In [525]:
print(df.bedrooms.nunique())
df.bedrooms.value_counts()
# bedrooms 11 and 33 seems to be incorrect valus.. so removing those rows from the data.

13

3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
8       13
0       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

In [526]:
df[df.bedrooms >= 10]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15
8757,520000.0,11,3.00,3000,4960,2.0,0,0,3,7,2400,600,1918,1999,98106,1420,4960
13314,1148000.0,10,5.25,4590,10920,1.0,0,2,3,9,2500,2090,2008,-1,98004,2730,10400
15161,650000.0,10,2.00,3610,11914,2.0,0,0,4,7,3010,600,1958,-1,98006,2040,11914
15870,640000.0,33,1.75,1620,6000,1.0,0,0,5,7,1040,580,1947,-1,98103,1330,4700
19254,660000.0,10,3.00,2920,3745,2.0,0,0,4,7,1860,1060,1913,-1,98105,1810,3745

In [527]:
df = df.drop(index= [15870,8757,19254])

In [528]:
print(df.floors.nunique())
df.floors.value_counts()

6

1.0    10679
2.0     8239
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

In [529]:
print(df.view.nunique())
df.view.value_counts()

5

0    19486
2      963
3      510
1      332
4      319
Name: view, dtype: int64

In [530]:
print(df.condition.nunique())
df.condition.value_counts()

5

3    14030
4     5678
5     1700
2      172
1       30
Name: condition, dtype: int64

In [531]:
print(df.grade.nunique())
df.grade.value_counts()

12

7     8978
8     6068
9     2615
6     2038
10    1134
11     399
5      242
12      90
4       29
13      13
3        3
1        1
Name: grade, dtype: int64

In [532]:
df.waterfront.value_counts()

0    21447
1      163
Name: waterfront, dtype: int64

In [533]:
from sklearn.model_selection import train_test_split
X_orig_train,X_orig_test, y_train, y_test = train_test_split(df.iloc[:,1:],df.iloc[:,[0]],test_size = .30,random_state = 34)

In [534]:
print(X_orig_train.shape)
print(y_train.shape)
print(X_orig_test.shape)
print(y_test.shape)

(15127, 16)
(15127, 1)
(6483, 16)
(6483, 1)

# To get important  features using correlation matrix

### corelation among independent features and getting list of features which are highly correlated to each other 
### correlation above .75

In [535]:
# using correlation matrix to indentify the correlated features and removing them from feature list. 
corr_matrix = df.corr().abs()
lower = corr_matrix.where(np.tril(np.ones(corr_matrix.shape), k=1).astype(np.bool))
to_drop = [column for column in lower.columns if any(upper[column] > 0.75)]
to_drop
# looking at correlation matrix, below are the columns are which are highly correlated. so its better to remove
# these features.

['sqft_living', 'grade', 'sqft_above', 'sqft_living15']

#### corelation amount dependent and independent features and getting list of features which are not correlated to depndent

In [536]:
to_drop1 = df_corr[df_corr.price.sort_values(ascending=False) < .10].price.index.tolist()
# looking at target and varibales correlation, it seems that below features are not helping in 
to_drop1

C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

['sqft_lot', 'condition', 'yr_built', 'zipcode', 'sqft_lot15']

In [632]:
drop = to_drop + to_drop1

In [538]:
df = df.drop(drop, axis=1)

In [676]:
correlation_imp_features = df.columns.tolist()
correlation_imp_features

['price',
 'bedrooms',
 'bathrooms',
 'floors',
 'waterfront',
 'view',
 'sqft_basement',
 'yr_renovated']

In [541]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(df.iloc[:,1:],df.iloc[:,[0]],test_size = .30,random_state = 34)

In [543]:
minmaxscaler = preprocessing.MinMaxScaler(feature_range=(0,1))
standardscaler = preprocessing.StandardScaler()

X_train['yr_renovated'] = minmaxscaler.fit_transform(X_train.loc[:,['yr_renovated']])
X_train['sqft_basement'] = standardscaler.fit_transform(X_train.loc[:,['sqft_basement']])

C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [843]:
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
regr = linear_model.LinearRegression()
scores = cross_val_score(regr, X_train,y_train, cv=10)
print("Cross-validation scores: {}".format(scores))
print("Average cross-validation score: {:.2f}".format(scores.mean()))

Cross-validation scores: [0.40588102 0.41412987 0.38144965 0.42248175 0.41166945 0.39757222
 0.40317298 0.42441876 0.34450476 0.42318746]
Average cross-validation score: 0.40

#### Performance of linear regression with above used features are very poor. Accuracy is of 40% only. Coefficient values are very high.

In [678]:
regr.coef_

array([[ 20323.12063112, 158425.15346857,  72668.70863631,
        542275.17604505, 109770.12441913,  59278.71412197,
        106265.6070285 ]])

### standard scaling of data

In [836]:
standardscaler = preprocessing.StandardScaler()
X_scaled_train = standardscaler.fit_transform(X_orig_train.loc[:,])
X_scaled_test = standardscaler.transform(X_orig_test.loc[:,])

C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

# To get the important features using Lasso

#### Selecting best hyperparameter for lasso

In [761]:
from sklearn.model_selection import GridSearchCV
from sklearn import linear_model
#making the instance
lasso = linear_model.Lasso(random_state=1234)
#Hyper Parameters Set
params = {'alpha': [.1, 1, 5, 10, 50, 100, 500, 800, 1000,1500, 2000, 3000, 4000,  5000, 10000]}
#Making models with hyper parameters sets
model1 = GridSearchCV(lasso, param_grid=params, n_jobs=-1,cv=3)
#Learning
model1.fit(X_scaled_train,y_train)
#The best hyper parameters set
print("Best Hyper Parameters:",model1.best_params_)
prediction=model1.predict(X_scaled_test)
#evaluation(Accuracy)
print("Accuracy:",model1.best_score_)

Best Hyper Parameters: {'alpha': 1000}
Accuracy: 0.6509539233004286

#### Best parameter alpha = 1000

In [838]:
lasso = linear_model.Lasso(alpha= 1000)
lasso.fit(X_scaled_train, y_train)
lasso_features = lasso.coef_.tolist()
columnlist = X_orig_train.columns.tolist()
lasso_imp = pd.DataFrame(lasso_features,columnlist,columns= ['importance'])
lasso_imp_features = lasso_imp[lasso_imp.importance > 0].index.tolist()

In [839]:
lasso_test_score= lasso.score(X_scaled_test, y_test)
lasso_train_score= lasso.score(X_scaled_train, y_train)
print(lasso_test_score)
print(lasso_train_score)

0.6559566725207364
0.6524973334997141

In [840]:
lasso.coef_

array([ -33218.87204386,   33320.28775158,  135893.18210372,
             0.        ,   16090.53538186,   45809.37747594,
         37669.45321426,   13222.64215524,  138398.37353321,
             0.        ,    5642.06950314, -102293.94400329,
          1756.31831426,       0.        ,   21069.90206592,
        -12693.53383639])

In [768]:
lasso_imp_features
# list of important features from lasso model.

['bathrooms',
 'sqft_living',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_basement',
 'yr_renovated',
 'sqft_living15']

#### This lasso regression model is not good again. Accracy has improved and now accuracy is 65%. coefficients values are still very high.

# To get important features using randomforest

In [752]:
#With Hyper Parameters Tuning
#2-2,Randomforest
#importing modules
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
#making the instance
model=RandomForestRegressor()
#hyper parameters set
params = {'criterion':['mse'],
          'n_estimators':[70,100,130, 150],
          'random_state':[123],
          'n_jobs':[-1]}
#Making models with hyper parameters sets
model1 = GridSearchCV(model, param_grid=params, n_jobs=-1,cv=3)
#learning
model1.fit(X_scaled_train,y_train)
#The best hyper parameters set
print("Best Hyper Parameters:\n",model1.best_params_)
#Prediction
prediction=model1.predict(X_scaled_test)
#evaluation(Accuracy)
print("Accuracy:",model1.best_score_)

C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:740: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

Best Hyper Parameters:
 {'criterion': 'mse', 'n_estimators': 130, 'n_jobs': -1, 'random_state': 123}
Accuracy: 0.7980903606344774

#### Best hyperparameters for random forest are criterion': 'mse', 'n_estimators': 130

In [798]:
rf = RandomForestRegressor(n_estimators = 130, random_state = 42)
rf.fit(X_scaled_train, y_train) 
rf_feature = rf.feature_importances_.tolist()
columnlist = X_orig_train.columns.tolist()
rf_imp = pd.DataFrame(rf_feature,columnlist,columns= ['importance'])
rf_imp_features = rf_imp[rf_imp.importance != 0].index.tolist()

C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [799]:
rf_test_score = rf.score(X_scaled_test, y_test)
rf_train_score = rf.score(X_scaled_train, y_train)

In [800]:
print(rf_imp_features)
print(rf_train_score)
print(rf_test_score)

['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'sqft_living15', 'sqft_lot15']
0.9734221814317474
0.824062931764382

#### Accuracy has improved a lot in comparison with linear and lasso regression. Now accuracy is 82%

# To get important features using SVR

In [772]:
#With Hyper Parameters Tuning
#2-3,SVM
#importing modules
from sklearn.model_selection import GridSearchCV
from sklearn import svm
#making the instance
model=svm.SVR()
#Hyper Parameters Set
params = {'C': [6,7,8,9,10,11,12], 
          'kernel': ['linear','rbf']}
#Making models with hyper parameters sets
model1 = GridSearchCV(model, param_grid=params, n_jobs=-1)
#Learning
model1.fit(X_scaled_train,y_train)
#The best hyper parameters set
print("Best Hyper Parameters:\n",model1.best_params_)
#Prediction
prediction=model1.predict(X_scaled_test)
#evaluation(Accuracy)
print("Accuracy:",model1.best_score_)

C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Best Hyper Parameters:
 {'C': 12, 'kernel': 'linear'}
Accuracy: 0.4145297003790064

### SVR has given us very poor performance of 41% only.

# PCA for feature reduction

In [773]:
from sklearn.decomposition import PCA
pca = PCA()
pca.fit(X_scaled_train)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [788]:
#print(pca.components_) 
print(pca.explained_variance_)

[5.08830691e+00 1.98761356e+00 1.69312399e+00 1.34142554e+00
 1.03538271e+00 9.04624456e-01 8.35152371e-01 6.75319893e-01
 5.99314883e-01 5.09732262e-01 3.31637539e-01 3.06750900e-01
 2.52140619e-01 2.38584203e-01 2.01947956e-01 3.41468308e-32]

In [785]:
eig_vals = pca.explained_variance_

In [786]:
total = sum(pca.explained_variance_)
var_exp = [( i /total ) * 100 for i in sorted(eig_vals, reverse=True)]
cum_var_exp = np.cumsum(var_exp)   # array of size =  as many PC dimensions
print("Cumulative Variance Explained", cum_var_exp)

Cumulative Variance Explained [ 31.79981584  44.22157935  54.80290476  63.18626012  69.65697426
  75.31050335  80.52986061  84.75033092  88.49580132  91.68141735
  93.75401494  95.67108133  97.24685602  98.73790871 100.
 100.        ]

#### taken first 14 features which explains 98% of variance

In [794]:
pca = PCA(14)
pca_train= pca.fit_transform(X_scaled_train)
pca_test= pca.transform(X_scaled_test)

#### Forest regressor used with pca features.

In [795]:
#With Hyper Parameters Tuning
#2-2,Randomforest
#importing modules
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
#making the instance
model=RandomForestRegressor()
#hyper parameters set
params = {'criterion':['mse'],
          'n_estimators':[70,100,130, 150],
          'random_state':[123],
          'n_jobs':[-1]}
#Making models with hyper parameters sets
model1 = GridSearchCV(model, param_grid=params, n_jobs=-1,cv=3)
#learning
model1.fit(pca_train,y_train)
#The best hyper parameters set
print("Best Hyper Parameters:\n",model1.best_params_)
#Prediction
prediction=model1.predict(pca_test)
#evaluation(Accuracy)
print("Accuracy:",model1.best_score_)

C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:740: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

Best Hyper Parameters:
 {'criterion': 'mse', 'n_estimators': 150, 'n_jobs': -1, 'random_state': 123}
Accuracy: 0.7213497061681997

#### Performace degrades when used forestregressor with PCA.

## Using Polynomial features

In [819]:
from sklearn.preprocessing import PolynomialFeatures 
poly = PolynomialFeatures(degree = 2) 
X_poly_train = poly.fit_transform(X_scaled_train) 
X_ploy_test=poly.transform(X_scaled_test)

#### Linear regression using polynomial features, degree = 2, performance is 75% accuracy

In [820]:
regr2 = linear_model.LinearRegression()
regr2.fit(X_poly_train, y_train) 
print(regr2.score(X_ploy_test, y_test))
print(regr2.score(X_poly_train, y_train))

0.7645700367995766
0.7513639936273713

#### Lasso regression using polynomial features, degree = 2, performance is 75% accuracy

In [824]:
lasso2 = linear_model.Lasso(alpha= 1100)
lasso2.fit(X_poly_train, y_train) 
print(lasso2.score(X_ploy_test, y_test))
print(lasso2.score(X_poly_train, y_train))

0.7637646416139718
0.7485818591181517

In [826]:
rf2 = RandomForestRegressor(n_estimators = 10, random_state = 42)
rf2.fit(X_poly_train, y_train) 
print(rf2.score(X_ploy_test, y_test))
print(rf2.score(X_poly_train, y_train))

C:\Users\Dhirender.Jit\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.7693840809746969
0.9588378068496587

#### Final Conclusion is that.. Random Forest Regressor with orginal scaled features is giving the optimal performance in comparison with linear, lasso, svr and randomforest.  Test accuracy is 82%